html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 240px;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.button {
  font-family: inherit;
  width: 100%;
  margin-bottom: 40px;
}

.input {
  font-family: inherit;
  width: 100%;
  text-align: center;
}

.tooltip-wrap {
  position: relative;
}

.tooltip {
  opacity: 0;
  background: #000;
  font-size: 11px;
  color: #fff;
  position: absolute;
  padding: 4px 8px;
  border-radius: 3px;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6px;
}

.tooltip.is-active {
  transition: opacity 300ms;
  opacity: 1;
}